body {
    background-color: rgb(209, 236, 255);
}

.head {
    display: flex;
    min-height: 30px;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 20px;
    background-color: rgb(111, 140, 161);
}

.nav1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 30px;
    font-size: 20px;
    background-color: rgb(154, 177, 194);
}

.title {
    margin: 0;
    margin-left: 20px;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    color: #000000;
}

.page-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px;
}

.photo {
    line-height: 0;
    width: 50%;
}

.m {
    font-size: 300%;
}

.k {
    font-size: 280%;
}

.komp {
    font-size: 280%;
}


.inf {
    margin-left: 30px;
}

.container{
    display: flex;
    justify-content: flex-start;
    background-color: rgb(144, 164, 179);
    height: 50px;
    align-items: center;
}